body, #root, .app {
    @apply overflow-hidden;
}

body {
    @apply w-screen h-screen relative;
}

#root {
    @apply w-full h-full;
}

.app {
    @apply will-change-transform dsk:translate-x-0 translate-x-[-5.5rem] absolute dsk:left-0 h-full dsk:w-full w-[calc(100%+5.5rem)] bg-themeWhite dark:bg-themeDark text-black dark:text-white flex font-helvetica transition-all duration-300;

    &.show-menu {
        @apply translate-x-0;
    }
}

.loader {
    @apply relative m-auto w-12 aspect-square inline-block;

    &::after, &::before {
        content: "";
        @apply box-border w-full h-full rounded-full bg-black dark:bg-themeWhite absolute left-0 top-0 animate-[animloader_2s_linear_infinite];
    }

    &::after {
        animation-delay: -1s;
    }
} 

@keyframes animloader {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
}

.navbar {
    @apply py-7 px-4 bg-black border-r-[1px] border-[rgb(255,255,255,0.2)] max-w-min text-white h-full flex flex-col items-center z-50;

    & > .logo {
        @apply max-w-[3.5rem] rounded-[21%];
    }

    & > .separator {
        @apply h-[2px] w-4/5 bg-[rgb(255,255,255,0.2)] rounded-md mt-2 mb-4; 
    }

    & .accounts {
        @apply w-full flex-grow pb-4 gap-5;

        & > * + * {
            @apply mt-2;
        }

        & > button {
            @apply relative bg-themeDark text-[rgb(255,255,255,0.9)] w-full aspect-square rounded-[50%] capitalize text-2xl font-medium outline-none focus:text-theme hover:text-theme hover:rounded-[21%] focus:rounded-[21%] transition-all duration-100 ease-linear;
            
            &.add-account {
                @apply text-5xl font-light mb-2;
            }
            
            &:hover, &:focus {
                & > span {
                    @apply scale-100
                }
            }

            & > svg {
                @apply w-[1.75rem] m-auto;
            }

            & > span {
                @apply absolute w-auto p-2 ml-2 top-1/2 -translate-y-1/2 min-w-max left-14 rounded-md shadow-md text-white bg-themeDark text-xs font-bold transition-all duration-100 scale-0 origin-left;
            }
        }
    }

    & > button {
        @apply mt-auto w-1/2 mx-auto text-[rgb(255,255,255,0.5)] hover:text-theme outline-none focus:text-theme transition-colors;
    }
}

.settings {
    @apply absolute w-screen h-full ml-[5.5rem] z-30 dsk:pt-7 pt-20 dsk:!bg-black dsk:!text-white bg-themeWhite dark:bg-themeDark text-black dark:text-white px-5 dsk:w-1/4 dsk:min-w-[325px];

    & > h1 {
        @apply font-bold text-3xl mb-5 dsk:mt-0 mt-4;
    }

    & > div {
        @apply mt-2 text-lg;

        & select {
            @apply rounded-lg bg-themeWhite dark:bg-themeDark dsk:!bg-black outline-none ml-3 font-bold;
        }
    }

}

.announcements {
    @apply mb-5 overflow-y-auto overflow-x-hidden bg-themeWhite dark:bg-themeDark;

    &:not(.mobile) {
        @apply py-7 px-4 w-1/4 bg-black text-white min-w-[325px] h-full flex flex-col;

        & .announcement {
            @apply !bg-themeDark text-white;

            & h1 {
                @apply text-white text-opacity-90;
            }

            & > div:last-of-type {
                @apply text-neutral-300;
            }
        }
    }

    &.mobile {
        @apply absolute w-screen ml-[5.5rem] z-30 pt-20 text-black dark:text-white h-full px-5;
    }

    & .announcement {
        @apply flex flex-col justify-between px-5 py-4 bg-[#E9E9E9] dark:bg-[#4d4d4d] text-black dark:text-white rounded-xl text-lg mb-3 cursor-pointer;

        & > div:last-of-type {
            @apply max-h-0 text-neutral-700 dark:text-neutral-300 leading-5 text-[0.9rem] pt-2 overflow-hidden transition-all duration-500;
        }

        &:hover > div:last-of-type, &:focus > div:last-of-type, &:focus-within > div:last-of-type {
            @apply max-h-[200px];
        }

        &:hover .plusminus span:nth-child(2) {
            @apply -rotate-90 delay-[0ms];
        }

        & > header {
            @apply flex items-center justify-between;

            & > h1 {
                @apply font-medium tracking-wider text-opacity-90 dark:text-white text-black;
            }

            & > div {
                @apply pl-5 flex items-center;

                .plusminus {
                    @apply block relative w-5 aspect-square ml-2;

                    & span:nth-child(1), & span:nth-child(2) {
                        @apply block absolute rounded-sm bg-current transition-all delay-300;
                    }

                    & span:nth-child(1) {
                        @apply top-1/2 -translate-y-1/2 h-[3px] w-4/5 m-[0_10%];
                    }

                    & span:nth-child(2) {
                        @apply left-1/2 -translate-x-1/2 w-[3px] h-4/5 m-[10%_0];
                    }
                  }
            }
        }
    }

    & > h1 {
        @apply font-bold text-3xl dsk:mt-0 mt-4 mb-5 ml-1;
    }
}

.schedule {
    @apply relative h-full flex-grow flex flex-col dsk:max-w-[min(75vw,calc(100vw-325px))] max-w-[100vw] bg-themeWhite dark:bg-themeDark;

    & > .lesson-modal {
        @apply will-change-auto pointer-events-none flex opacity-0 absolute top-0 left-0 w-full h-full bg-black bg-opacity-60 z-40 justify-center items-center transition-opacity;

        & > .content {
            @apply w-[17rem] px-5 py-6 rounded-xl flex flex-col gap-2 text-xl;

            &.lesson {
                @apply text-black dark:text-white;
            }

            & > span {
                @apply font-bold underline;
            }

            & > div {
                & span:nth-of-type(1) {
                    @apply text-lg;
                }

                & span:nth-of-type(2) {
                    @apply font-bold;
                }

                & .change {
                    @apply ml-1 font-extrabold;
                }
            }


            .times {
                @apply text-lg
            }
        }

        &.open {
            @apply pointer-events-auto opacity-100;
        }
    }

    & > .header {
        @apply z-40 py-5 dsk:px-12 px-5 flex items-center font-bold text-[clamp(1.1rem,4.75vw,1.25rem)] dsk:text-3xl dsk:mb-12 mb-3 text-white dsk:text-black dsk:dark:text-white dsk:bg-transparent bg-black border-b-[1px] border-b-themeWhite border-opacity-20;

        & > .menu-hamburger {
            @apply text-white h-full pr-5;

            & > svg {
                @apply h-7 aspect-square;
            }
        }

        & > section {
            @apply relative flex items-center flex-shrink; 

            & > time:first-of-type {
                @apply relative flex items-center leading-none font-bold gap-1;

                @media (max-width: 375px) {
                    & > span:nth-of-type(2) {
                        @apply hidden;
                    }
                }
            }

            & .line {
                @apply self-stretch dsk:py-6 py-4 w-[2px] rounded-full bg-current rotate-[25deg] dsk:mx-7 mx-5 z-10;
            }

            & h1 {
                @apply mr-5 font-bold;
            }
        }

        & button.next > svg {
            @apply -scale-x-100;
        }

        & > .right {
            @apply ml-auto flex items-center;

            & > div {
                @apply h-full flex items-center;
            }

            & > button {
                @apply hidden sm:block bg-neutral-200 dark:bg-[#4d4d4d] text-black dark:text-neutral-200 dsk:text-lg text-base font-normal dsk:px-7 dsk:py-3 py-2 px-5 dsk:rounded-xl rounded-lg ml-2 hover:bg-neutral-300 dark:hover:bg-neutral-500;

                &.active {
                    @apply bg-black dark:hover:bg-neutral-800 text-neutral-200;
                }
            }
        }

        & button.next, button.prev {
            @apply aspect-square dsk:mr-8 sm:mr-5 mr-0;

            &:first-of-type {
                @apply dsk:mr-8 !mr-5;
            }

            & > svg {
                @apply dsk:h-7 h-6;
            }
        }
    }

    & > .dates {
        @apply relative flex w-full justify-evenly dsk:px-12 dsk:w-[calc(100%-8px)] pl-5 pr-4 bg-transparent;

        &::after {
            content: "";
            @apply absolute z-10 w-full -bottom-3 h-3 bg-gradient-to-b from-themeWhite dark:from-themeDark;
        }

        & > .space {
            @apply text-transparent dsk:pl-[0.375rem] dsk:pr-5 flex-grow-0 pr-2;
        }

        & > div {
            @apply flex flex-grow justify-evenly z-10 bg-transparent;

            & .date {
                @apply w-full flex flex-col justify-center items-center row-start-1 pb-3 pt-[0.1875rem] -z-10 text-[rgb(0,0,0,0.3)] dark:text-[rgb(255,255,255,.6)];
        
                &.current {
                    & > span {
                        @apply !text-black dark:!text-white;
                    }

                    & > div:last-child {
                        @apply bg-black dark:bg-white;
                    }
                }

                & > span:first-child {
                    @apply font-bold dsk:text-6xl dsk:mb-2 text-[clamp(2.25rem,8vw,2.5rem)] -mb-2;
                }

                & > span:not(:first-child) {
                    @apply text-[clamp(0.9rem,4vw,1.1rem)] font-medium lowercase text-[rgb(0,0,0,0.4)] dark:text-[rgb(255,255,255,0.6)];
                }
        
                & > div:last-child {
                    @apply h-5 bg-[rgb(0,0,0,0.25)] dark:bg-[rgb(255,255,255,0.5)] w-[2px] dsk:mt-4 mt-2;
                }
            }
        }
    }

    & .scroller {
        @apply flex-grow overflow-y-auto overflow-x-hidden dsk:px-12 pl-5 pr-2;

        &::-webkit-scrollbar-track {
            @apply bg-themeWhite dark:bg-themeDark;
        }

        &::-webkit-scrollbar {
            @apply w-2;
    
        }

        &::-webkit-scrollbar-thumb {
            @apply bg-[rgb(0,0,0,0.0)];
        }

    }

    & .schedule-grid-week, & .schedule-grid-day {
        @apply relative h-fit flex-shrink-0 overflow-x-visible w-auto grid grid-rows-[auto,repeat(110,minmax(0,1fr))];
    
        & .time-indicator {
            @apply absolute z-50 top-[0px] flex items-center h-[1px] overflow-visible left-1/2 -translate-x-1/2 w-[calc(100%+15px)] col-[span_5/7];
    
            & > div {
                @apply bg-[rgb(0,0,0,0.5)] dark:bg-[rgb(255,255,255,0.5)] mt-1;
            }

            & > div:first-child {
                @apply w-[2px] h-[25px];
            }

            & > div:nth-child(2) {
                @apply h-[2px] w-full;
            }
        }
        
        & .line {
            @apply absolute flex items-center h-full left-1/2 -translate-x-1/2 dsk:w-[calc(100%+16px)] w-full col-[span_5/7];
    
            & > div {
                @apply bg-[rgb(0,0,0,0.25)] dark:bg-[rgb(255,255,255,0.25)] h-[1px] w-full mt-[1px];
            }
        }
    
        & > div:nth-of-type(-n+10) {
            @apply dsk:pl-[0.375rem] dsk:pr-5 pr-2 flex items-center text-black dark:text-white z-10;
        }
    
        & > div:nth-of-type(-n+10):not(:first-child) {
            @apply col-start-1 text-[clamp(0.75rem,3.5vw,1rem)];
        }
    
        & > div:nth-of-type(2) {
            @apply row-[2/4];
        }
    
        & .line:nth-of-type(1) {
            @apply row-[2/4];
        }
    
        & .line:nth-of-type(2), & > div:nth-of-type(3) {
            @apply row-[14/16];
        }
        & .line:nth-of-type(3), & > div:nth-of-type(4) {
            @apply row-[26/28];
        }
        & .line:nth-of-type(4), & > div:nth-of-type(5) {
            @apply row-[38/40];
        }
        & .line:nth-of-type(5), & > div:nth-of-type(6) {
            @apply row-[50/52];
        }
        & .line:nth-of-type(6), & > div:nth-of-type(7) {
            @apply row-[62/64];
        }
        & .line:nth-of-type(7), & > div:nth-of-type(8) {
            @apply row-[74/76];
        }
        & .line:nth-of-type(8), & > div:nth-of-type(9) {
            @apply row-[86/88];
        }
        & .line:nth-of-type(9), & > div:nth-of-type(10)  {
            @apply row-[98/100];
        }
        & .line:nth-of-type(10), & > div:nth-of-type(11)  {
            @apply row-[110/112];
        }
    }

    & .schedule-grid-week {
        @apply grid-cols-[auto,repeat(5,minmax(0,1fr))];
    }

    & .schedule-grid-day {
        @apply grid-cols-[max-content,1fr]
    }
}