@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-display: swap;
    font-family: HelveticaNowDisplay;
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/HelveticaNow/HelveticaNowDisplay-Regular.woff2) format("woff2"),local("HelveticaNowDisplay")
}

@font-face {
    font-display: swap;
    font-family: HelveticaNowDisplay;
    font-style: normal;
    font-weight: 500;
    src: url(/fonts/HelveticaNow/HelveticaNowDisplay-Medium.woff2) format("woff2"),local("HelveticaNowDisplay")
}

@font-face {
    font-display: swap;
    font-family: HelveticaNowDisplay;
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/HelveticaNow/HelveticaNowDisplay-Bold.woff2) format("woff2"),local("HelveticaNowDisplay")
}

.app {
    @apply will-change-transform dsk:translate-x-0 translate-x-[calc(-5.5rem-1px)] absolute dsk:left-0 h-full dsk:w-full w-[calc(100%+5.5rem+1px)] text-black dark:text-white flex font-helvetica motion-safe:transition-all motion-safe:duration-300;

    &.show-menu {
        @apply translate-x-0;
    }
}